
.buttons-moved-up {
  transition: .6s;
  transform: translateY(calc(-30vh + min(0px, 20px - 30vh + 20px)));
  position: relative; /* This is necessary for z-index to work */
  z-index: 9999; /* High value to ensure it's on top */
}

.image-moved-up {
  transition: .6s;
  transform: translateY(-100vh); /* pushes the image up off the screen */
}

h1 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

img {
  border-radius: 6px;
}

button.disabled-button {
  cursor: not-allowed;
}

button.disabled-button:hover {
  cursor: not-allowed !important;
  transform: scale(1) !important;
  opacity: 1 !important;
  background-color: #2b303a !important;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* For Webkit browsers (Chrome, Safari, new Edge) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #10141c; /* Blue track (background) */
  border-radius: 5px; /* Rounded edges for the track */
}

::-webkit-scrollbar-thumb {
  background:
  #080b11; /* Red thumb (scrolly part) */
  border-radius: 5px; /* Rounded edges for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background:
  #03060a; /* Darker red on hover for the thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color:
  #080b11 #10141c; /* thumb and track color */
}
